.site-header {
    background-colour: $mint-green;
    padding: 20px 0px;
  > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $small-spacing auto;
    align-items: center;
  }
}

.site-title {
  display: block;
  line-height: $heading-line-height;
  font-family: $heading-font-family;
  color: $dark-green;
  font-size: modular-scale(2);
  font-weight: 700;
  background-image: $full-white-logo;
  background-size: 100%;
  background-repeat: no-repeat;
}
