.block--people {
  margin: 2 * $base-spacing 0;
}

.block--title {
  color: $mid-green;
  margin-bottom: $base-spacing;
}

.block--people--grid {
  // display: flex;
  // flex-wrap: wrap;
  // margin-left: -$small-spacing;
  // margin-right: -$small-spacing;
}

.block--people--item {
  flex: 0 0 33.333%;
  // text-align: center;
  position: relative;
  // padding: $base-spacing $small-spacing;
  margin-bottom: 2 * $base-spacing;
  display: flex;
  flex-direction: row;
}

.block--people--name {
  margin-bottom: 0;
  font-size: modular-scale(0);
}

.block--people--role {
  font-size: modular-scale(-1);
  color: $mid-green;
  font-weight: 700;
  margin-bottom: $small-spacing/2;
}

.block--people--image {
  overflow: hidden;
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;
  flex: 0 0 25%;
  img {
    display: block;
    width: 100%;
    border-radius: 50%;
  }
  margin-right: $base-spacing;

}

.block--people--description {
  font-size: modular-scale(-1)
}