.blog--item {
  display: flex;
  flex-direction: row;
  margin-top: 2em;

  &:first-child {
    margin-top: 6em;
  }
}

.blog--item--image {
  margin-top: 0em;
  margin-right: 1.5em;
  flex: 0 0 10em;

  img {
    border-radius: 50%;
    overflow: hidden;
    width: 10em;
    height: 10em;
    object-fit: cover;
    object-position: center;
  }
}

.page-content, .post-content {
  font-size: modular-scale(1);
  padding: 2 * $base-spacing 0;
  p:first-child {
    font-size: modular-scale(1);
    font-weight: 700;
    margin-bottom: 1.5 * $base-spacing;
  }
  h2 {
    font-size: modular-scale(2);
    margin: 2 * $base-spacing 0 $small-spacing;
  }
  h3 {
    font-size: modular-scale(0);
    margin: 1.5 * $base-spacing 0 $small-spacing;
    font-family: $base-font-family;
    font-weight: 600;
  }
  ul {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    ul {
      margin-top: $small-spacing;
      margin-bottom: $small-spacing;
      font-size: modular-scale(-1);
    }
  }
  li {
    margin-bottom: $small-spacing/2;
    margin-left: 1.5 * $base-spacing;
    list-style-position: outside;
    &::before {
      content: '';
      display: block;
      float: left;
      width: $base-spacing;
      height: $base-spacing;
      margin-top: .3em;
      padding: .3em;
      margin-left: -1.5 * $base-spacing;
      margin-right: $small-spacing;
      background-color: $mid-green;
      background-clip: content-box;
    }
  }
  .pullout-box {
      margin: 2 * $base-spacing 0;
      background-color: $light-green;
      padding: 2 * $base-spacing;
      h2 {
        margin-top: 0;
      }
      .button {
        margin-top: $base-spacing;
      }
      .g-recaptcha > div {
        margin: $base-spacing auto;
      }
      &.centre {
        text-align: center;
      }
    }
  .container {
    @media screen and (min-width: $medium-screen) {
      width: 80%;
    }
    @media screen and (min-width: $large-screen) {
      width: 70%;
    }
    @media screen and (min-width: $xl-screen) {
      width: 60%;
    }

  }
  *:last-child {
    margin-bottom: 0;
  }
}

.page-header, .post-header {
  padding-bottom: 4 * $base-spacing;

  .page-header--inner {
    position: relative;
    border-top: $base-border;
    padding: 2 * $base-spacing 0;
    background-image: repeating-linear-gradient(to bottom, #fff, #fff .9em, $white-green, $white-green 1em);
  }
  .container {
    height: 40vh;
    margin-bottom: $base-spacing;
    @media screen and (orientation: landscape) {
      height: 22.5vw;
      max-height: 14em;
    }
    @media screen and (min-width: $medium-screen) {
      width: 80%;
    }
    @media screen and (min-width: $large-screen) {
      width: 70%;
    }
    @media screen and (min-width: $xl-screen) {
      width: 60%;
    }
    > * {

    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  &--buttons {
    margin-top: $base-spacing;
  }

  .button {
    display: inline-block;
    width: auto;
    margin-bottom: $small-spacing;
    margin-right: $small-spacing/2;

    + .button {
      background-color: $mid-green;
    }
  }
}

.post-header .container {
  justify-content: flex-end;
}

.page-title, .post-title {
  font-size: modular-scale(4);
  margin-bottom: 0;
}

.page-subtitle {
  margin-top: $small-spacing;
  line-height: $heading-line-height;
  font-size: modular-scale(0);
}


.page-subtitle {
  font-size: modular-scale(1);
  line-height: $base-line-height;
}

.project-date {
  display: inline-block;
  margin: 0 0 $small-spacing;
  font-size: modular-scale(1);
  color: $mid-green;
  font-weight: 400;
}

.post-meta {
  margin-top: $small-spacing;
  margin-bottom: 0;
}

.post-header {
  padding-bottom: $base-spacing;
}
.post-content {
  padding-top: 0;
}