{% capture img_output %}
{% if site.local != true %}
{% if include.pathonly != 'true' %}<img alt="" src="{% endif %}
//res.cloudinary.com/{{ site.cloudinary }}/image/fetch/w_{{ include.width | default: "500"}},h_{{ include.height | default: "500"}}{{ include.quality | prepend: ",q_"}}{{ include.modes| default: "c_fill" | prepend: "," }}/{{ site.data.config.url }}{{ include.img }}
{% if include.pathonly != 'true' %}" width="{{ include.width | default: 500 }}" height="{{ include.height | default: 500}}" />{% endif %}
{% else %}
{% if include.pathonly != 'true' %}<img alt="" src="{% endif %}{{ site.baseurl }}{{  include.img }}{% if include.pathonly != 'true' %} "/>{% endif %}
{% endif %}
{% endcapture %}{{ img_output | strip_newlines }}