
<footer class="site-footer">
  <div class="site-footer--inner">
    {% include svg/footer-curves.svg class='page-footer--curves' %}

    <div class="container">
      {% if site.data.config.footer %}
        <div class="site-footer--company">
         {{ site.data.config.footer | markdownify }}
        </div>
      {% endif %}
      <div class="site-footer--links">
        <h2 class="footer-header">Learn more</h2>
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.data.navigation.footer_pages | default: '  ' %}
        {% if page_paths %}
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
              <a class="page-link" href="{{ my_page.url | relative_url | replace: 'index.html' '' }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      {% if site.data.config.social %}
        <div class="site-footer--social">
          <h2 class="footer-header">Social</h2>
          {% include social.html %}
        </div>
      {% endif %}
    </div>
  </div>
</footer>

