<div class="block--people">
  <h2 class="block--title">{{ include.title | default: 'People' }}</h2>
  <ul class="block--people--grid">
    {% for person in site.data.people %}
      <li class="block--people--item">
         <div class="block--people--image">
          <img src="{{ person.image }}"/>
        </div>
        <div>
          <h3 class="block--people--name">{{ person.name }}</h3>
          <div class="block--people--role">{{ person.role }}</div>
          <div class="block--people--description">{{ person.description | markdownify }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>