<div>
{% assign latestprojects = (site.projects | sort: 'date') | reverse %}
{% for project in latestprojects limit: include.limit %}
  {% assign projectcontent = project.content | strip_newlines%}
  {% if projectcontent != '' %}
    <a href="{% if project.external_link %}{{ project.external_link }}{% else %}{{ project.url | replace: 'index.html', '' }}{% endif %}" class="home-projects--item">
  {% else %}
    <div class="home-projects--item">
  {% endif %}
    <h3 class="home-projects--item--title">{{ project.title }}</h3>
    <p class="home-projects--item--excerpt">{{ project.excerpt | strip_html | strip_newlines | truncate: 100 }} </p>
  {% if projectcontent != '' %}
      </a>
  {% else %}
    </div>
  {% endif %}
{% endfor %}

</div>