<ul class="social-accounts">
  {% for account in site.data.config.social %}
    {% if account.twitter %}
      <li><a title="Twitter" href="//twitter.com/{{ account.twitter}}" target="_blank">{% include icons/social/twitter.svg %}</a></li>
    {% endif %}
    {% if account.facebook %}
      <li><a title="Facebook" href="//facebook.com/{{ account.facebook}}" target="_blank">{% include icons/social/facebook.svg %}</a></li>
    {% endif %}
    {% if account.instagram %}
      <li><a title="Instagram" href="//instagram.com/{{ account.instagram}}" target="_blank">{% include icons/social/instagram.svg %}</a></li>
    {% endif %}
  {% endfor %}
</ul>