html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: $medium-screen;
  margin: 0 auto;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

.container__narrow {
  max-width: $large-screen
}

.container__text {
  max-width: $medium-screen;
}




.status {
  margin-top: $base-spacing;
  padding: $base-spacing;
  background-color: $mid-green;
  color: white;
}