button,
.button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #00683A;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Neue Hans Kendrick OCLT", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75rem 1.5rem 0.9375rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
[type=button]:hover,
[type=button]:focus,
[type=reset]:hover,
[type=reset]:focus,
[type=submit]:hover,
[type=submit]:focus {
  background-color: #00532e;
  color: #fff;
}

button:disabled,
.button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover,
.button:disabled:hover,
[type=button]:disabled:hover,
[type=reset]:disabled:hover,
[type=submit]:disabled:hover {
  background-color: #00683A;
}

@font-face {
  font-family: "Aleo OCLT";
  src: url("/assets/fonts/aleo-bold-webfont.woff2") format("woff2"), url("/assets/fonts/aleo-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Neue Hans Kendrick OCLT";
  src: url("/assets/fonts/neue_hans_kendrick_regular.woff2") format("woff2"), url("/assets/fonts/neue_hans_kendrick_regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Neue Hans Kendrick OCLT";
  src: url("/assets/fonts/neue_hans_kendrick_bold.woff2") format("woff2"), url("/assets/fonts/neue_hans_kendrick_bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375rem;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375rem;
}

input,
select,
textarea {
  display: block;
  font-family: "Neue Hans Kendrick OCLT", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
}

[type=color],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
input:not([type]),
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #BDCF6E;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  transition: border-color 150ms ease;
  width: 100%;
}

[type=color]:hover,
[type=date]:hover,
[type=datetime]:hover,
[type=datetime-local]:hover,
[type=email]:hover,
[type=month]:hover,
[type=number]:hover,
[type=password]:hover,
[type=search]:hover,
[type=tel]:hover,
[type=text]:hover,
[type=time]:hover,
[type=url]:hover,
[type=week]:hover,
input:not([type]):hover,
textarea:hover {
  border-color: #97a658;
}

[type=color]:focus,
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
input:not([type]):focus,
textarea:focus {
  border-color: #00683A;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 79, 44, 0.7);
  outline: none;
}

[type=color]:disabled,
[type=date]:disabled,
[type=datetime]:disabled,
[type=datetime-local]:disabled,
[type=email]:disabled,
[type=month]:disabled,
[type=number]:disabled,
[type=password]:disabled,
[type=search]:disabled,
[type=tel]:disabled,
[type=text]:disabled,
[type=time]:disabled,
[type=url]:disabled,
[type=week]:disabled,
input:not([type]):disabled,
textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type=color]:disabled:hover,
[type=date]:disabled:hover,
[type=datetime]:disabled:hover,
[type=datetime-local]:disabled:hover,
[type=email]:disabled:hover,
[type=month]:disabled:hover,
[type=number]:disabled:hover,
[type=password]:disabled:hover,
[type=search]:disabled:hover,
[type=tel]:disabled:hover,
[type=text]:disabled:hover,
[type=time]:disabled:hover,
[type=url]:disabled:hover,
[type=week]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
  border: 1px solid #BDCF6E;
}

[type=color]::-webkit-input-placeholder, [type=date]::-webkit-input-placeholder, [type=datetime]::-webkit-input-placeholder, [type=datetime-local]::-webkit-input-placeholder, [type=email]::-webkit-input-placeholder, [type=month]::-webkit-input-placeholder, [type=number]::-webkit-input-placeholder, [type=password]::-webkit-input-placeholder, [type=search]::-webkit-input-placeholder, [type=tel]::-webkit-input-placeholder, [type=text]::-webkit-input-placeholder, [type=time]::-webkit-input-placeholder, [type=url]::-webkit-input-placeholder, [type=week]::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #929292;
}

[type=color]::-moz-placeholder, [type=date]::-moz-placeholder, [type=datetime]::-moz-placeholder, [type=datetime-local]::-moz-placeholder, [type=email]::-moz-placeholder, [type=month]::-moz-placeholder, [type=number]::-moz-placeholder, [type=password]::-moz-placeholder, [type=search]::-moz-placeholder, [type=tel]::-moz-placeholder, [type=text]::-moz-placeholder, [type=time]::-moz-placeholder, [type=url]::-moz-placeholder, [type=week]::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
  color: #929292;
}

[type=color]:-ms-input-placeholder, [type=date]:-ms-input-placeholder, [type=datetime]:-ms-input-placeholder, [type=datetime-local]:-ms-input-placeholder, [type=email]:-ms-input-placeholder, [type=month]:-ms-input-placeholder, [type=number]:-ms-input-placeholder, [type=password]:-ms-input-placeholder, [type=search]:-ms-input-placeholder, [type=tel]:-ms-input-placeholder, [type=text]:-ms-input-placeholder, [type=time]:-ms-input-placeholder, [type=url]:-ms-input-placeholder, [type=week]:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #929292;
}

[type=color]::-ms-input-placeholder, [type=date]::-ms-input-placeholder, [type=datetime]::-ms-input-placeholder, [type=datetime-local]::-ms-input-placeholder, [type=email]::-ms-input-placeholder, [type=month]::-ms-input-placeholder, [type=number]::-ms-input-placeholder, [type=password]::-ms-input-placeholder, [type=search]::-ms-input-placeholder, [type=tel]::-ms-input-placeholder, [type=text]::-ms-input-placeholder, [type=time]::-ms-input-placeholder, [type=url]::-ms-input-placeholder, [type=week]::-ms-input-placeholder, input:not([type])::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #929292;
}

[type=color]::placeholder,
[type=date]::placeholder,
[type=datetime]::placeholder,
[type=datetime-local]::placeholder,
[type=email]::placeholder,
[type=month]::placeholder,
[type=number]::placeholder,
[type=password]::placeholder,
[type=search]::placeholder,
[type=tel]::placeholder,
[type=text]::placeholder,
[type=time]::placeholder,
[type=url]::placeholder,
[type=week]::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  color: #929292;
}

textarea {
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  display: inline;
  margin-right: 0.375rem;
}

[type=file] {
  margin-bottom: 0.75rem;
  width: 100%;
}

select {
  margin-bottom: 0.75rem;
  width: 100%;
}

.g-recaptcha {
  margin-bottom: 0.75rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container__narrow {
  max-width: 960px;
}

.container__text {
  max-width: 720px;
}

.status {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: #4D8E38;
  color: white;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0.75rem 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #8e9b53;
  font-weight: 600;
  padding: 0.75rem 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #BDCF6E;
  padding: 0.75rem 0;
}

tr,
td,
th {
  vertical-align: middle;
}

html {
  font-size: 0.75em;
}

@media screen and (min-width: 720px) {
  html {
    font-size: 0.875em;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 1em;
  }
}

body {
  color: #494949;
  font-family: "Neue Hans Kendrick OCLT", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aleo OCLT";
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0 0 0.75rem;
}

p {
  margin: 0 0 0.75rem;
}

a {
  color: #00683A;
  text-decoration: none;
  transition: color 150ms ease;
}

a:active,
a:focus,
a:hover {
  color: #408e6b;
}

hr {
  border-bottom: 1px solid #BDCF6E;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5rem 0;
}

.section-heading {
  font-size: 1.953125em;
  margin-bottom: 2.25rem;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .section-heading {
    text-align: center;
  }
}

.site-header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.75rem auto;
  align-items: center;
}

.site-title {
  display: block;
  line-height: 1.25;
  font-family: "Aleo OCLT";
  color: #00683A;
  font-size: 1.5625em;
  font-weight: 700;
}

label[for=nav-trigger] {
  display: none;
  float: right;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
  cursor: pointer;
  margin-bottom: 0;
}

.site-nav {
  line-height: 1.5;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: #494949;
  line-height: 1.5;
  font-family: "Aleo OCLT";
}

.site-nav .page-link:not(:last-child) {
  margin-right: 1.5rem;
}

@media screen and (max-width: 720px) {
  .site-nav label[for=nav-trigger] {
    display: block;
  }

  .site-nav .menu-icon {
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;
    text-align: center;
  }

  .site-nav .menu-icon > svg path {
    fill: #ccc;
    transition: fill 150ms;
  }

  .site-nav .menu-icon:hover > svg path {
    fill: #494949;
  }

  .site-nav input ~ .trigger {
    position: fixed;
    transform: translateX(100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #494949;
    transition: transform 150ms;
  }

  .site-nav input:checked ~ .trigger {
    z-index: 99;
    transform: translateX(0);
    opacity: 1;
  }

  .site-nav input:checked ~ .trigger .page-link {
    opacity: 1;
    transform: translateY(0);
  }

  .site-nav input:checked ~ label[for=nav-trigger] svg path {
    fill: white;
  }

  .site-nav .page-link {
    display: block;
    opacity: 0;
    transform: translateY(0.75rem);
    color: white;
    text-align: center;
    font-size: 1.5625em;
    transition: opacity cubic-bezier(0.32, 0.55, 0.42, 0.8) 750ms, transform cubic-bezier(0.32, 0.55, 0.42, 0.8) 750ms;
    line-height: 3rem;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }

  .site-nav .page-link:nth-child(1) {
    transition-delay: 150ms;
  }

  .site-nav .page-link:nth-child(2) {
    transition-delay: 300ms;
  }

  .site-nav .page-link:nth-child(3) {
    transition-delay: 450ms;
  }

  .site-nav .page-link:nth-child(4) {
    transition-delay: 600ms;
  }

  .site-nav .page-link:nth-child(5) {
    transition-delay: 750ms;
  }

  .site-nav .page-link:nth-child(6) {
    transition-delay: 900ms;
  }

  .site-nav .page-link:nth-child(7) {
    transition-delay: 1050ms;
  }

  .site-nav .page-link:nth-child(8) {
    transition-delay: 1200ms;
  }

  .site-nav .page-link:nth-child(9) {
    transition-delay: 1350ms;
  }

  .site-nav .page-link:nth-child(10) {
    transition-delay: 1500ms;
  }

  .site-nav .page-link:nth-child(11) {
    transition-delay: 1650ms;
  }

  .site-nav .page-link:nth-child(12) {
    transition-delay: 1800ms;
  }

  .site-nav .page-link:nth-child(13) {
    transition-delay: 1950ms;
  }

  .site-nav .page-link:nth-child(14) {
    transition-delay: 2100ms;
  }

  .site-nav .page-link:nth-child(15) {
    transition-delay: 2250ms;
  }

  .site-nav .page-link:nth-child(16) {
    transition-delay: 2400ms;
  }

  .site-nav .page-link:nth-child(17) {
    transition-delay: 2550ms;
  }

  .site-nav .page-link:nth-child(18) {
    transition-delay: 2700ms;
  }

  .site-nav .page-link:nth-child(19) {
    transition-delay: 2850ms;
  }

  .site-nav .page-link:nth-child(20) {
    transition-delay: 3000ms;
  }
}

.site-footer {
  padding-top: 12rem;
  overflow: hidden;
}

.site-footer--inner {
  padding: 3rem 0;
  background-color: rgba(189, 207, 110, 0.16);
  position: relative;
}

.site-footer--inner .container {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: row;
}

.site-footer--inner .container div + div {
  margin-left: 1.5rem;
}

@media screen and (min-width: 960px) {
  .site-footer--inner .container div + div {
    margin-left: 3rem;
  }
}

.page-footer--curves {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 1200px;
  height: auto;
  min-width: 120vw;
  max-width: none;
  transform: translate(-50%, -50%);
}

.site-footer--company {
  flex: 0 1 40%;
  margin-right: auto;
  font-size: 0.8em;
}

.site-footer--company p:last-child {
  margin-bottom: 0;
}

.site-footer--social {
  flex: 0 0 auto;
}

.site-footer--links {
  flex: 0 0 auto;
}

.site-footer--links a {
  display: block;
  text-transform: lowercase;
  color: #494949;
}

.social-accounts li {
  float: left;
  font-size: 1em;
}

.social-accounts a {
  display: block;
  width: 2em;
  height: 2em;
  padding: 0.25em;
  border-radius: 50%;
}

.social-accounts li + li a {
  margin-left: 0.375rem;
}

.social-accounts svg {
  display: block;
  width: 100%;
  height: auto;
}

.blog--item {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.blog--item:first-child {
  margin-top: 6em;
}

.blog--item--image {
  margin-top: 0em;
  margin-right: 1.5em;
  flex: 0 0 10em;
}

.blog--item--image img {
  border-radius: 50%;
  overflow: hidden;
  width: 10em;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page-content,
.post-content {
  font-size: 1.25em;
  padding: 3rem 0;
}

.page-content p:first-child,
.post-content p:first-child {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 2.25rem;
}

.page-content h2,
.post-content h2 {
  font-size: 1.5625em;
  margin: 3rem 0 0.75rem;
}

.page-content h3,
.post-content h3 {
  font-size: 1em;
  margin: 2.25rem 0 0.75rem;
  font-family: "Neue Hans Kendrick OCLT", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-weight: 600;
}

.page-content ul,
.post-content ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.page-content ul ul,
.post-content ul ul {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.8em;
}

.page-content li,
.post-content li {
  margin-bottom: 0.375rem;
  margin-left: 2.25rem;
  list-style-position: outside;
}

.page-content li::before,
.post-content li::before {
  content: "";
  display: block;
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.3em;
  padding: 0.3em;
  margin-left: -2.25rem;
  margin-right: 0.75rem;
  background-color: #4D8E38;
  background-clip: content-box;
}

.page-content .pullout-box,
.post-content .pullout-box {
  margin: 3rem 0;
  background-color: #BDCF6E;
  padding: 3rem;
}

.page-content .pullout-box h2,
.post-content .pullout-box h2 {
  margin-top: 0;
}

.page-content .pullout-box .button,
.post-content .pullout-box .button {
  margin-top: 1.5rem;
}

.page-content .pullout-box .g-recaptcha > div,
.post-content .pullout-box .g-recaptcha > div {
  margin: 1.5rem auto;
}

.page-content .pullout-box.centre,
.post-content .pullout-box.centre {
  text-align: center;
}

@media screen and (min-width: 720px) {
  .page-content .container,
  .post-content .container {
    width: 80%;
  }
}

@media screen and (min-width: 960px) {
  .page-content .container,
  .post-content .container {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .page-content .container,
  .post-content .container {
    width: 60%;
  }
}

.page-content *:last-child,
.post-content *:last-child {
  margin-bottom: 0;
}

.page-header,
.post-header {
  padding-bottom: 6rem;
}

.page-header .page-header--inner,
.post-header .page-header--inner {
  position: relative;
  border-top: 1px solid #BDCF6E;
  padding: 3rem 0;
  background-image: repeating-linear-gradient(to bottom, #fff, #fff 0.9em, rgba(189, 207, 110, 0.16), rgba(189, 207, 110, 0.16) 1em);
}

.page-header .container,
.post-header .container {
  height: 40vh;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (orientation: landscape) {
  .page-header .container,
  .post-header .container {
    height: 22.5vw;
    max-height: 14em;
  }
}

@media screen and (min-width: 720px) {
  .page-header .container,
  .post-header .container {
    width: 80%;
  }
}

@media screen and (min-width: 960px) {
  .page-header .container,
  .post-header .container {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .container,
  .post-header .container {
    width: 60%;
  }
}

.page-header .container--buttons,
.post-header .container--buttons {
  margin-top: 1.5rem;
}

.page-header .container .button,
.post-header .container .button {
  display: inline-block;
  width: auto;
  margin-bottom: 0.75rem;
  margin-right: 0.375rem;
}

.page-header .container .button + .button,
.post-header .container .button + .button {
  background-color: #4D8E38;
}

.post-header .container {
  justify-content: flex-end;
}

.page-title,
.post-title {
  font-size: 2.44140625em;
  margin-bottom: 0;
}

.page-subtitle {
  margin-top: 0.75rem;
  line-height: 1.25;
  font-size: 1em;
}

.page-subtitle {
  font-size: 1.25em;
  line-height: 1.5;
}

.project-date {
  display: inline-block;
  margin: 0 0 0.75rem;
  font-size: 1.25em;
  color: #4D8E38;
  font-weight: 400;
}

.post-meta {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.post-header {
  padding-bottom: 1.5rem;
}

.post-content {
  padding-top: 0;
}

.block--people {
  margin: 3rem 0;
}

.block--title {
  color: #4D8E38;
  margin-bottom: 1.5rem;
}

.block--people--item {
  flex: 0 0 33.333%;
  list-style-type: none;
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
}

.block--people--item::before {
  content: none !important;
}

.block--people--name {
  margin-bottom: 0;
  font-size: 1em;
}

.block--people--role {
  font-size: 0.8em;
  color: #4D8E38;
  font-weight: 700;
  margin-bottom: 0.375rem;
}

.block--people--image {
  overflow: hidden;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  flex: 0 0 25%;
  margin-right: 1.5rem;
}

.block--people--image img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.block--people--description {
  font-size: 0.8em;
}

.block--people--description p {
  font-size: 1em !important;
  font-weight: 500 !important;
}

.page-header__home {
  position: relative;
}

.page-header__home .container {
  position: relative;
  max-height: none;
  width: 100%;
}

.page-header__home .container > * {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 720px) {
  .page-header__home .container > * {
    width: 60%;
  }
}

.page-header--curves {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 150vmax;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.section--home-blog {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 720px) {
  .section--home-blog .section-heading {
    text-align: center;
  }
}

@media screen and (min-width: 720px) {
  .home-blog--items {
    display: flex;
    flex-direction: row;
  }
}

.home-blog--item {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.25rem;
}

@media screen and (min-width: 720px) {
  .home-blog--item {
    flex: 0 1 33.3%;
    display: block;
  }

  .home-blog--item + .home-blog--item {
    margin-left: 3.75rem;
  }
}

.home-blog--item--text {
  margin: auto;
  margin-left: 1.5rem;
}

@media screen and (min-width: 720px) {
  .home-blog--item--text {
    margin-left: 0;
  }
}

.home-blog--item--image {
  flex: 0 0 30%;
}

.home-blog--item--image img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 50%;
}

@media screen and (min-width: 720px) {
  .home-blog--item--image img {
    width: 90%;
    margin: 0 auto 1.5rem;
  }
}

.home-blog--item--date {
  font-size: 0.8em;
}

.home-blog--item--read-more {
  font-size: 0.8em;
  color: #4D8E38;
  font-weight: 700;
}

.home-blog--item--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section--home-faqs {
  padding-bottom: 3rem;
}

.section--home-faqs::before {
  content: "";
  height: 30vw;
  background-image: url("/assets/images/countryside.jpg");
  background-size: cover;
  display: block;
  margin-bottom: 3rem;
}

.section--home-faqs .section-heading {
  text-align: center;
}

.section--home-faqs h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.section--home-faqs h3 button {
  all: inherit;
  border: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 3rem;
  border: 1px solid #BDCF6E;
  margin-top: -1px;
  transition: background-color ease 150ms;
}

.section--home-faqs h3 button:hover {
  background-color: #BDCF6E;
}

.section--home-faqs h3 + div {
  padding: 1.5rem 3rem;
  background-color: rgba(189, 207, 110, 0.16);
}

.section--home-faqs h3 button:focus svg {
  outline: 2px solid #BDCF6E;
  outline-offset: 10px;
}

.section--home-faqs button svg {
  height: 1em;
  margin-left: 0.5em;
  transition: transform 150ms ease;
  transform: rotate(180deg);
}

.section--home-faqs [aria-expanded=true] svg {
  transform: rotate(90deg);
}

.section--home-about {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 720px) {
  .section--home-about {
    text-align: center;
  }
}

@media screen and (min-width: 720px) {
  .home-about--wrapper {
    display: flex;
    flex-direction: row;
  }
}

.home-about--item {
  margin: 0 0 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 720px) {
  .home-about--item {
    margin: 1.5rem 0;
    display: block;
    flex: 1 1 0;
  }

  .home-about--item + .home-about--item {
    margin-left: 1.5rem;
  }
}

.home-about--item--header {
  color: #4D8E38;
}

.home-about--image {
  flex: 0 0 30%;
  margin-right: 0.375rem;
}

@media screen and (min-width: 720px) {
  .home-about--image {
    width: 70%;
    margin: 0 auto;
  }
}

.home-about--icon {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 720px) {
  .home-about--icon {
    margin-bottom: 1.5rem;
  }
}

.section--home-projects {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 720px) {
  .section--home-projects {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.section--home-projects .section-heading {
  text-align: left;
}

.home-projects--wrapper {
  background-image: repeating-linear-gradient(to bottom, #fff, #fff 0.9em, #BDCF6E, #BDCF6E 1em);
  border-top: solid 1px #BDCF6E;
}

.container--home-projects {
  display: flex;
  flex-direction: row;
}

.home-projects--image {
  display: none;
  flex: 1 1 100%;
  margin-top: -6rem;
  margin-bottom: -6rem;
  margin-right: 1.5rem;
}

@media screen and (min-width: 720px) {
  .home-projects--image {
    display: block;
  }
}

.home-projects--image svg {
  max-width: 100%;
}

.home-projects--text {
  flex: 1 1 100%;
  top: -1px;
  position: relative;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1.5rem;
}

@media screen and (min-width: 720px) {
  .home-projects--text {
    margin-left: 1.5rem;
  }
}

.home-projects--item {
  display: block;
  color: #00683A;
  margin-bottom: 2.25rem;
  padding-right: 2.25rem;
  position: relative;
}

.home-projects--item p {
  margin-bottom: 0;
}

a.home-projects--item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3rem;
  width: 2.25rem;
  background-image: url(/assets/images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 1.125rem auto;
  background-position: right center;
}

.home-projects--item--title {
  font-size: 1.5625em;
}

.debugging {
  outline: 1px dashed red;
  background-color: rgba(0, 0, 255, 0.5);
}

