.section--home-about {
  padding-top: 2 * $base-spacing;
  padding-bottom: 2 * $base-spacing;
  @media screen and (min-width: $medium-screen) {
    text-align: center;
  }
}

.home-about--wrapper {
  @media screen and (min-width: $medium-screen) {
    display: flex;
    flex-direction: row;
  }
}
.home-about--item {
  margin: 0 0 $base-spacing;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (min-width: $medium-screen) {
    margin: 1.5 * $base-spacing 0;
    display: block;
    flex: 1 1 0;
    + .home-about--item {
      margin-left: $base-spacing;
    }
  }
}

.home-about--item--header {
  color: $mid-green;
}

.home-about--image {
  flex: 0 0 30%;
  margin-right: $small-spacing/2;
  @media screen and (min-width: $medium-screen) {
    width: 70%;
    margin: 0 auto;
  }
}
.home-about--icon {
  width: 100%;
  height: auto;
  margin-bottom: $base-spacing;
  @media screen and (min-width: $medium-screen) {
    margin-bottom: $base-spacing;
  }
}