.section--home-blog {
  padding-top: 2 * $base-spacing;
  padding-bottom: 2 * $base-spacing;
  @media screen and (min-width: $medium-screen) {
    .section-heading {
      text-align: center;
    }
  }
}

.home-blog--items {
  @media screen and (min-width: $medium-screen) {
    display: flex;
    flex-direction: row;
  }
}

.home-blog--item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5 * $base-spacing;
  @media screen and (min-width: $medium-screen) {
    flex: 0 1 33.3%;
    display: block;
    + .home-blog--item {
      margin-left: 2.5 * $base-spacing;
    }
  }
}

.home-blog--item--text {
  margin: auto;
  margin-left: $base-spacing;
  @media screen and (min-width: $medium-screen) {
    margin-left: 0;
  }
}

.home-blog--item--image {
  flex: 0 0 30%;

  img {
    width: 100%;
    @media screen and (min-width: $medium-screen) {
      width: 90%;
      margin: 0 auto $base-spacing;
    }
    display: block;
    height: auto;
    border-radius: 50%;
  }
}

.home-blog--item--date {
  font-size: modular-scale(-1);
}

.home-blog--item--read-more {
  font-size: modular-scale(-1);
  color: $mid-green;
  font-weight: 700;
}


.home-blog--item--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}