.page-header__home {
  position: relative;
  // margin-bottom: 2 * $base-spacing;
  .container {
    position: relative;
    max-height: none;
    width: 100%;
    > * {
      @media screen and (min-width: $medium-screen) {
        width: 60%;
      }
      margin-left: 0;
      margin-right: 0;
    }
  }

  &--buttons {
    display: flex;

  }

  .button {
    display: inline-block;
    width: auto;
    margin-top: $base-spacing;

    + .button {
      margin-left: $small-spacing/2;
      background-color: $mid-green;
    }
  }

}

.page-header--curves {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 150vmax;
  transform: translate(-50%,-50%);
  pointer-events: none;
}