.section--home-projects {
  width: 100%;
  position: relative;
  @media screen and (min-width: $medium-screen) {
    padding-top: 4 * $base-spacing;
    padding-bottom: 4 * $base-spacing
  };
  .section-heading {
    text-align: left;
  }
}

.home-projects--wrapper {
  background-image: repeating-linear-gradient(to bottom, #fff, #fff .9em, $light-green, $light-green 1em);
  border-top: solid 1px $light-green;
}

.container--home-projects {
  display: flex;
  flex-direction: row;
}

.home-projects--image {
  display: none;
  @media screen and (min-width: $medium-screen) {
    display: block;
  }
  flex: 1 1 100%;
  margin-top: -4 * $base-spacing;
  margin-bottom: -4 * $base-spacing;
  margin-right: $base-spacing;
  svg {
    max-width: 100%;
  }
}

.home-projects--text {
  flex: 1 1 100%;
  top: -1px;
  position: relative;
  margin-left: 0;
  @media screen and (min-width: $medium-screen) {
    margin-left: $base-spacing;
  }
  background-color: transparentize(white,.25);
  padding: $base-spacing;
}

.home-projects--item {
  display: block;
  color: $dark-green;
  margin-bottom: 1.5 * $base-spacing;
  padding-right: 1.5 * $base-spacing;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2 * $base-spacing;
    width: 1.5 * $base-spacing;
    background-image: url(/assets/images/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: .75 * $base-spacing auto;
    background-position: right center;
  }
  p {
    margin-bottom: 0;
  }
}

.home-projects--item--title {
  font-size: modular-scale(2)
}